@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  @keyframes smoothNeonPulse {
    0%,
    100% {
      filter: drop-shadow(0 0 5px rgb(255, 255, 255))
        drop-shadow(0 0 10px rgb(255, 255, 255));
      opacity: 0.92;
    }
    50% {
      filter: drop-shadow(0 0 8px rgb(255, 255, 255))
        drop-shadow(0 0 20px rgb(255, 255, 255));
      opacity: 1;
    }
  }

  .neon-effect {
    animation: smoothNeonPulse 9s infinite ease-in-out;
  }
}
